<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
    <meta charset="UTF-8">
</head>
    <body>
        <header th:replace="layout/layout::header"></header>
        <div class="container">
            <div class="card bg-dark">
                <div class="card-header mx-auto">
                    <h3>Introduzca sus datos de Usuario</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/login}" method="post">
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <label class="col-sm-4 col-form-label">Nombre de usuario</label>
                            <div class="col-sm-3">
                                <input type="text" id="username" name="username" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <label class="col-sm-4 col-form-label">Contraseña</label>
                            <div class="col-sm-3">
                                <input type="password" id="password" name="password"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="sm mx-auto">
                                <input type="submit" class="btn btn-outline-success" value="Log in"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="layout/layout::footer" class="bg-dark"></footer>
    </body>
</html>